*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #002000;
}
#bingoBox{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#titleBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
#bingoTitle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    padding-top: 0.7em;   
}
#titleBox img{
    width: auto;
}
#titleBox h1{
    display: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
#tableSlots{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#firstSlot {
    display: flex;
    width: 6em;
    height: 6em;
    margin: 0.5em;
    border: goldenrod 0.3em solid;
    box-shadow: #000000 5px 5px 3px;
    border-style: outset;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #272727, #2e2e2e, #363636, #404040, #4a4b4a, #555555, #606060);
    color: #000000;
}

#firstSlot input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    width: 70px;
    height: 70px;
    color: #000000;
    background-color: transparent;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#treeSlots{
    display: flex;
    flex-direction: row;
}

#s1 {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    border: none;
    font-weight: bold;
    border: goldenrod 0.2em solid;
    box-shadow: #000000 5px 5px 3px;
    border-style: outset;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #272727, #2e2e2e, #363636, #404040, #4a4b4a, #555555, #606060);
    color: #000000;
}
#s2{
    display: flex;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    border: none;
    font-weight: bold;
    border: goldenrod 0.2em solid;
    box-shadow: #000000 5px 5px 3px;
    border-style: outset;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #272727, #2e2e2e, #363636, #404040, #4a4b4a, #555555, #606060);
    color: #000000;
}
#s3{
    display: flex;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    border: none;
    font-weight: bold;
    border: goldenrod 0.2em solid;
    box-shadow: #000000 5px 5px 3px;
    border-style: outset;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #272727, #2e2e2e, #363636, #404040, #4a4b4a, #555555, #606060);
    color: #000000;
}

.slots input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    width: 40px;
    width: 40px;
    color: #000000;
    background-color:transparent;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#buttonsBox{
    display: flex;
    flex-direction: column-reverse;
    margin: 0.5em;
}
#buttonsBox button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}
#buttonsBox button:disabled{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
}

#play{
    background-color: #00a800;
    border: 2px solid #005500;
    
}
#play:disabled{
    background-color: #00a800;
    box-shadow: none;
    border:none;
}

#pause{
    background-color: #2124cc;
    border: 2px solid #200079;
}
#pause:disabled{
    background-color: #2124cc;
    box-shadow: none;
    border: none;
}
#reload{
    background-color: #d32828;
    border: 2px solid #d40000;
}
#reload:disabled{
    background-color: #d32828;
    box-shadow: none;
    border: none;
}

#tableBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 50vh;
}

.tableColum{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 3.8em;
    height: 50vh;
}

.numberSlot{
    
    width: 1.3em;
    height: 1.3em;
    box-shadow: #000000 3px 3px ;
    border-radius: 50%;
    border: none;
    margin: 0.1em;
    font-weight: bold;
    font-size: large;
    color: black;
    background-image: linear-gradient(to left top, #777a39, #818441, #8a8d49, #949752, #9ea15a, #a7aa66, #b1b472, #babd7e, #c6c890, #d1d4a2, #dddfb4, #e9ebc7);
}

.numberSlot:disabled{
    width: 1.3em;
    height: 1.3em;
    box-shadow: #000000 3px 3px ;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: large;
    color: transparent;
    background-image: linear-gradient(to left top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #272727, #2e2e2e, #363636, #40404071, #4a4b4a6c, #55555567, #60606071);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tableNumber{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 14em;
}

#b,#i,#n,#g,#o{
    height: 1em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%; 
}

#b{
    background-color: rgb(74, 157, 253);
}
#i{
    background-color: rgb(255, 234, 115);
}
#n{
    background-color: rgb(255, 123, 123);
}
#g{
    background-color: rgb(123, 248, 144);
}
#o{
    background-color: rgb(255, 186, 59);
}

/*Laptop*/ 
@media only screen and (min-width: 768px){

    #bingoBox{
        flex-direction: row-reverse;
        width: 98vw;
        height: 98vh;
    }

    #titleBox{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 22em;
        height: 100%;
        padding-right: 2em;
    }
    #bingoTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3em;
      
    }
    #titleBox img{
        width: 95%;
        padding-top:3em ;
    }
    #titleBox h1{
        display: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }
    #tableSlots{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #firstSlot {
        width: 7.5em;
        height: 7.5em;
    }
    #firstSlot input{
        font-size: 3em;
    }
    #s1 {
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    #s2{
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    #s3{
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    
    .slots input{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        width: 90px;
        color: #000000;
        background-color:transparent;
        border: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #buttonsBox{
        display: flex;
        flex-direction: row-reverse;
        margin: 0.5em;
    }
    #buttonsBox button{
        width: 50px;
        height: 50px;
        
    }
    #buttonsBox button:disabled{
        width: 50px;
        height: 50px; 
    }
    
    #tableBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;
        padding-top: 5em;
    }
    
    .tableColum{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 6em;
        height: 80vh;
    }
    
    .numberSlot{
        width: 2em;
        height: 2em;
        margin: 0.2em;
    }
    
    .numberSlot:disabled{
        width: 2em;
        height: 2em;
    }
    
    
    #b,#i,#n,#g,#o{
        height: 2em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 100%; 
    }
    
}
/*Laptop*/ 
@media only screen and (min-width: 1024px){

    #bingoBox{
        flex-direction: row-reverse;
        width: 98vw;
        height: 98vh;
    }

    #titleBox{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 22em;
        height: 100%;
        padding-right: 2em;
    }
    #bingoTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3em;
      
    }
    #titleBox img{
        width: 95%;
        padding-top:3em ;
    }
    #titleBox h1{
        display: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
    }
    #tableSlots{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    #firstSlot {
        width: 7.5em;
        height: 7.5em;
    }
    #firstSlot input{
        font-size: 3em;
    }
    #s1 {
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    #s2{
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    #s3{
        width: 3em;
        height: 3em;
        font-weight: bold;
    }
    
    .slots input{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: medium;
        font-weight: bold;
        width: 90px;
        color: #000000;
        background-color:transparent;
        border: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #buttonsBox{
        display: flex;
        flex-direction: row-reverse;
        margin: 0.5em;
    }
    #buttonsBox button{
        width: 50px;
        height: 50px;
        
    }
    #buttonsBox button:disabled{
        width: 50px;
        height: 50px; 
    }
    
    #tableBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70vh;
        padding-top: 3em;
    }
    
    .tableColum{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 8em;
        height: 80vh;
    }
    
    .numberSlot{
        width: 2.5em;
        height: 2.5em;
        margin: 0.2em;
    }
    
    .numberSlot:disabled{
        width: 2.5em;
        height: 2.5em;
    }
    
    
    #b,#i,#n,#g,#o{
        height: 2em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 100%; 
    }
    
}
/*TV*/
@media only screen and (min-width: 1440px){
    
    #titleBox{
        width: 22em;
        height: 100%;
    }
    #bingoTitle{
        height: 9em;
    }
    #titleBox img{
        width: 95%;
        padding-top:3em ;
    }
    #titleBox h1{
        font-size: 3em;
    }
    #tableSlots{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #firstSlot {
        width: 12em;
        height: 12em;
    }
    #firstSlot input{
        width: 100%;
        height: 100%;
        font-size: 4.5em;
    }
    #s1 {
        width: 5em;
        height: 5em;
        font-weight: bold;
    }
    #s2{
        width: 5em;
        height: 5em;
    }
    #s3{
        width: 5em;
        height: 5em;
        font-weight: bold;
    }
    .slots input{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: xx-large;
        width: 90px;
        color: #000000;
        background-color:transparent;
        border: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #buttonsBox{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 0.5em;
        width: 100%;
    }
    #buttonsBox button{
        width: 6em;
        height: 6em;
        
    }
    #buttonsBox button:disabled{
        width: 6em;
        height: 6em; 
    }
    
    #tableBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 98vh;
        padding-top: 7em;
    }
    
    .tableColum{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 9em;
        height: 50vh;
    }
    
    .numberSlot{
        width: 2.6em;
        height: 2.6em;
        margin: 0.2em;
        font-size: x-large;
    }
    .numberSlot:disabled{
        width: 3.6em;
        height: 3.6em;
        margin: 0.2em;
    }
    
    
    #b,#i,#n,#g,#o{
        height: 2em;
        font-size: 2em;
        font-weight: bold;
        border: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 100%; 
    }
    
}